h3 {
  font-size: 80px;
  font-style: italic;
  background-color: brown;
  font-family: fantasy;

  }
  body {
    background-color: brown;

}
.links-color {
  background-color: orange;

}
h2 {
  font-size: 80px;
  font-style: oblique;

}
img {
  width:400px;
  height:400px;
  
}

#list{
  list-style-type: none;
  font-size: 20px;
}
