body{
  background-color: darkslategrey;
}
.jumbotron{
  background-color: darkslategray;
  color: black;
}
#dodo{
    text-align: center;
    width: 100%;
    height:100%;
    border:  10px solid black;
    padding: 20px;
    border-radius: 5px;
    background-color: black;
    color:darkslategray;
     
}

#two{
  width: 100%;
  border:  10px solid black;
  padding: 60px;
  border-radius: 45px;
  background-color: black;
  color:darkslategray;
  
}
#dodo {
  text-align: center;
}
