h3 {
  font-size: 90px;
  font-style: oblique;
  background-image:url("/home/joy/Downloads/339_Aesthetics_2560x1440.jpg");


}
  body {
    background-image: url("/home/joy/Desktop/moringa-school-projects/First-Landing-Page/images/339_Aesthetics_2560x1440.jpg")







}
h2 {
  font-size : 60px;
  font-style: oblique;


}
img {
  width:400px;
  height:400px;



}

#list{
  list-style-type: none;
  font-size: 20px;

}
