h3 {
  font-size: 80px;
  font-style: oblique;
  background-color: brown;


  }
  body {
    background-color: grey;
    background-image: url("/home/joy/Downloads/324_Purplish-by-@AMutuma_2560x1440.jpg");




}
.links-color {
  background-color: grey;

}
h2 {
  font-size: 70px;
  font-style: oblique;

}
img {
  width:400px;
  height:400px;
  


}

#list{
  list-style-type: none;
  font-size: 20px;
}
